# Auto-convert text files to CRLF line endings in the working directory
* text=auto eol=crlf

# Specific settings for files with certain extensions
*.sh text eol=lf
*.bat text eol=crlf
*.log text eol=lf

# Force specific line endings for PHP and Blade files to CRLF
*.php text eol=crlf
*.blade.php text eol=crlf

# Existing diff settings
*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

# Export-ignore settings
/.github export-ignore
CHANGELOG.md export-ignore
