# Auto-convert text files to the appropriate line endings
* text=auto

# Specific settings for files with certain extensions
*.sh text eol=lf
*.bat text eol=crlf
*.log text eol=lf

# Force specific line endings for PHP and Blade files
*.php text eol=lf
*.blade.php text eol=lf

# Existing diff settings
*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

# Export-ignore settings
/.github export-ignore
CHANGELOG.md export-ignore
