/* styleScreenPrint.css */

.negative-image {
    filter: invert(100%);
}


/* Contenedor de la tabla para permitir el desplazamiento horizontal */

.table-responsive {
    position: relative;
    overflow-x: auto;
}


/* Estilos generales para tablas */

.table {
    display: table;
    width: 360%;
    /* Ajusta este valor según tus necesidades */
    border-collapse: collapse;
    background-color: #1a1b2f;
    table-layout: auto;
}

.table th,
.table td {
    padding: 8px 16px;
    min-width: 80px;
    word-wrap: break-word;
    white-space: nowrap;
    border: 1px solid #ddd;
    background-color: #1a1b2f;
}


/* Estilos específicos para la tabla #tablaDinamico */

#tablaDinamico th:nth-child(1) {
    width: .1%;
}


/* ID */

#tablaDinamico th:nth-child(2) {
    width: 3%;
}


/* Auditor */

#tablaDinamico th:nth-child(3) {
    width: 4%;
}


/* Cliente */

#tablaDinamico th:nth-child(4) {
    width: 2%;
}


/* Estilo */

#tablaDinamico th:nth-child(5) {
    width: 3%;
}


/* OP */

#tablaDinamico th:nth-child(6) {
    width: 3%;
}


/* Tecnico */

#tablaDinamico th:nth-child(7) {
    width: 3%;
}


/* Color */

#tablaDinamico th:nth-child(8) {
    width: 3%;
}


/* #Grafico */

#tablaDinamico th:nth-child(9) {
    width: 4%;
}


/* Tecnica */

#tablaDinamico th:nth-child(10) {
    width: 4%;
}


/* Fibras */

#tablaDinamico th:nth-child(11) {
    width: 4%;
}


/* NumFibras */

#tablaDinamico th:nth-child(12) {
    width: 2%;
}


/* Piezas */

#tablaDinamico th:nth-child(13) {
    width: 5%;
}


/* Tipo Defectos */

#tablaDinamico th:nth-child(14) {
    width: 5%;
}


/* #Defectos */

#tablaDinamico th:nth-child(15) {
    width: 5%;
}


/* AcCorrectiva */

#tablaDinamico th:nth-child(16) {
    width: 3%;
}

#tablaDinamico th:nth-child(17) {
    width: 3%;
}


/* Estilos específicos para la tabla #CtrHorno */

#CtrHorno {
    display: table;
    width: 150%;
}

#CtrHorno th,
#CtrHorno td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#CtrHorno th:nth-child(1) {
    width: 43%;
}


/* TEMPERATURA DE HORNO */

#CtrHorno th:nth-child(2) {
    width: 43%;
}


/* VELOCIDAD DE BANDA */

#CtrHorno th:nth-child(3) {
    width: 43%;
}


/* HORARIO */


/* styleScreenPrint2.css */


/* Estilos para la tabla #tablaDinamicoHorn */

#tablaDinamicoHorn {
    table-layout: fixed;
    /* Importante para usar anchos fijos en porcentaje */
    width: 360%;
    /* Puedes ajustar este valor según tus necesidades */
}

#tablaDinamicoHorn th,
#tablaDinamicoHorn td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* Ajusta los anchos de las columnas según tus preferencias */


/* ID */

#tablaDinamicoHorn th:nth-child(1) {
    width: 1%;
}


/* Auditor */

#tablaDinamicoHorn th:nth-child(2) {
    width: 3%;
}


/* Cliente */

#tablaDinamicoHorn th:nth-child(3) {
    width: 4%;
}


/* Estilo */

#tablaDinamicoHorn th:nth-child(4) {
    width: 2%;
}


/* OP */

#tablaDinamicoHorn th:nth-child(5) {
    width: 3%;
}


/* Panel */

#tablaDinamicoHorn th:nth-child(6) {
    width: 3%;
}


/* Tecnico */

#tablaDinamicoHorn th:nth-child(7) {
    width: 3%;
}


/* Color */

#tablaDinamicoHorn th:nth-child(8) {
    width: 3%;
}


/* # Grafico */

#tablaDinamicoHorn th:nth-child(9) {
    width: 3%;
}


/* TipoMaquina */

#tablaDinamicoHorn th:nth-child(10) {
    width: 6%;
}


/* Leyenda */

#tablaDinamicoHorn th:nth-child(11) {
    width: 6%;
}


/* Tecnica */

#tablaDinamicoHorn th:nth-child(12) {
    width: 6%;
}


/* Piezas */

#tablaDinamicoHorn th:nth-child(13) {
    width: 2%;
}


/* Fibras */

#tablaDinamicoHorn th:nth-child(14) {
    width: 6%;
}


/* % Fibras */

#tablaDinamicoHorn th:nth-child(15) {
    width: 4%;
}


/* Hora */

#tablaDinamicoHorn th:nth-child(16) {
    width: 3%;
}


/* Bulto */

#tablaDinamicoHorn th:nth-child(17) {
    width: 2%;
}


/* Talla */

#tablaDinamicoHorn th:nth-child(18) {
    width: 3%;
}


/* TipoDefectos */

#tablaDinamicoHorn th:nth-child(19) {
    width: 8%;
}


/* #Defectos */

#tablaDinamicoHorn th:nth-child(20) {
    width: 5%;
}


/* Ac.Correct */

#tablaDinamicoHorn th:nth-child(21) {
    width: 8%;
}

#tablaDinamicoHorn th:nth-child(22) {
    width: 3%;
}

#tablaDinamicoHorn th:nth-child(23) {
    width: 3%;
}


/* Estilos específicos para la tabla tablaDinamicaPlancha */

#tablaDinamicaPlancha {
    display: table;
    /* Importante para usar anchos fijos en porcentaje */
    width: 360%;
    /* Puedes ajustar este valor según tus necesidades */
}

#tablaDinamicaPlancha th,
#tablaDinamicaPlancha td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* Ajusta los anchos de las columnas según tus preferencias */


/* ID */

#tablaDinamicaPlancha th:nth-child(1) {
    width: 1%;
}


/* Auditor */

#tablaDinamicaPlancha th:nth-child(2) {
    width: 3%;
}


/* Cliente */

#tablaDinamicaPlancha th:nth-child(3) {
    width: 4%;
}


/* Estilo */

#tablaDinamicaPlancha th:nth-child(4) {
    width: 2%;
}


/* OP */

#tablaDinamicaPlancha th:nth-child(5) {
    width: 4%;
}


/* Tecnico */

#tablaDinamicaPlancha th:nth-child(6) {
    width: 3%;
}


/* Color */

#tablaDinamicaPlancha th:nth-child(7) {
    width: 3%;
}


/* # Grafico */

#tablaDinamicaPlancha th:nth-child(8) {
    width: 3%;
}


/* Piezas */

#tablaDinamicaPlancha th:nth-child(9) {
    width: 2%;
}


/* TipoDefectos */

#tablaDinamicaPlancha th:nth-child(10) {
    width: 5%;
}


/* #Defectos */

#tablaDinamicaPlancha th:nth-child(11) {
    width: 5%;
}


/* Ac.Correct */

#tablaDinamicaPlancha th:nth-child(12) {
    width: 5%;
}


/* Columna vacía 1 */

#tablaDinamicaPlancha th:nth-child(13) {
    width: 3%;
}


/* Ocultar */


/* Columna vacía 2 */

#tablaDinamicaPlancha th:nth-child(14) {
    width: 3%;
}


/* Estilos específicos para la tabla tablaDinamicaMaquila */

#tablaDinamicaMaquila {
    table-layout: fixed;
    /* Importante para usar anchos fijos en porcentaje */
    width: 360%;
    /* Puedes ajustar este valor según tus necesidades */
}

#tablaDinamicaMaquila th,
#tablaDinamicaMaquila td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* Ajusta los anchos de las columnas según tus preferencias */


/* ID */

#tablaDinamicaMaquila th:nth-child(1) {
    width: 1%;
}


/* Auditor */

#tablaDinamicaMaquila th:nth-child(2) {
    width: 3%;
}


/* Descripción */

#tablaDinamicaMaquila th:nth-child(3) {
    width: 5%;
}


/* Cliente */

#tablaDinamicaMaquila th:nth-child(4) {
    width: 4%;
}


/* Estilo */

#tablaDinamicaMaquila th:nth-child(5) {
    width: 2%;
}


/* OP */

#tablaDinamicaMaquila th:nth-child(6) {
    width: 3%;
}


/* Maquina */

#tablaDinamicaMaquila th:nth-child(7) {
    width: 3%;
}


/* Tecnico */

#tablaDinamicaMaquila th:nth-child(8) {
    width: 3%;
}


/* Corte */

#tablaDinamicaMaquila th:nth-child(9) {
    width: 3%;
}


/* Color */

#tablaDinamicaMaquila th:nth-child(10) {
    width: 3%;
}


/* Talla */

#tablaDinamicaMaquila th:nth-child(11) {
    width: 3%;
}


/* Piezas */

#tablaDinamicaMaquila th:nth-child(12) {
    width: 2%;
}


/* TipoDefectos */

#tablaDinamicaMaquila th:nth-child(13) {
    width: 6%;
}


/* #Defectos */

#tablaDinamicaMaquila th:nth-child(14) {
    width: 4%;
}


/* Ac.Correct */

#tablaDinamicaMaquila th:nth-child(15) {
    width: 6%;
}


/* Columna vacía 1 */

#tablaDinamicaMaquila th:nth-child(16) {
    width: 3%;
}


/* Ocultar */


/* Columna vacía 2 */

#tablaDinamicaMaquila th:nth-child(17) {
    width: 3%;
}


/* Ocultar */
